body {
    background-color: #ffffff;
}

.header-video {
    position: relative;
    overflow: hidden;
}

.header-background {
    height: 100%;
    width: 100%;
    background-image: url("img/raster_dot.png");
    background-repeat: repeat;
}

.header-title {
    color: #fff;
    margin-left: 1rem;
    padding: 0 1.5rem;
    border-width: 0 0 0 8px;
    border-style: solid;
    border-color: #73a147;
    text-shadow: 0 0 8px #73a147;
}

.header-title h1 {
    line-height: 1;
}

.header-title p {
    margin-bottom: 0;
}

.header-caption {
    position: absolute;
    width: 100%;
    z-index: 40;
    top: 50%;
    transform: translateY(-50%);
}

.main-menu {
    position: relative;
    top: -25px;
    background: #fff;
}

.main-menu-brand a,
.main-menu-item a {
    line-height: 1.5rem;
    padding: 3rem 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    color: #222;
    border-width: 0.5rem 0 0 0;
    border-style: solid;
    border-color: #fff;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.main-menu-item a:hover {
    border-color: #73a147;
}

.main-menu-brand a {
    display: inline-block;
    width: 100px;
    height: 95;
    line-height: 1.5rem;
}

.main-menu-brand img {
    position: absolute;
    /* modifying width also modifies separation to nav links */
    width: 128px;
    /* modify height to show more/less of logo */
    height: 97px;
    margin-top: -60px;
    margin-left: -50px;
}

.main {
    background-color: #fff;
}

.video-viewport {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.25);
    /*background-image: url("img/raster_dot.png");
            background-repeat: repeat;*/
    background: url('img/header_background.jpg') center center;
    background-size: cover;
    width: 100%;
    height: 40vh;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('img/header_background.jpg') center center;
    background-size: cover;
    z-index: -10;
}

.embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-21by9 {
    padding-bottom: 42.857143%;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.embed-responsive-1by1 {
    padding-bottom: 100%;
}
