<footer class="app-footer">
    <div class="container">
        <div class="d-flex justify-content-between">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link h5" href="/">Inicio</a>
                </li>
            </ul>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link h5" href="/informacion">Información</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">anuncio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">calendario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">entradas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">programa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Distancia y altitud perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">normas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Los voluntarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">enfoque</a>
                </li>
            </ul>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link h5" href="/participantes">Participantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">lista de inscritos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">resultados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Área equipo</a>
                </li>
            </ul>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link h5" href="/socios">Socios</a>
                </li>
            </ul>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link h5" href="/galeria">Galería</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
