<footer class="app-footer">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-light my-3" href="https://mailchi.mp/4dbb345a6893/la-mojaquera" target="_blank" title="Manténgase informado y suscríbase a nuestra lista de correo">
                        Suscríbase a nuestra lista de correo
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link h3" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ if .HasChildren }}
                {{ range .Children }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</footer>
