<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/la-mojaquera-logo-small.png" alt="Inicío" style="max-height: 64px;" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/informacion">Información</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/participantes">Participantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/socios">Socios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/galeria">Galería</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
