<header class="header-video">
    <div id="video-viewport" class="video-viewport">
        <div class="embed-responsive embed-responsive-16by9">
            <div id="video-placeholder"></div>
        </div>
        <!--div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4b_rQyirzwc?rel=0&autoplay=1&loop=1&playlist=4b_rQyirzwc&controls=0&showinfo=0&modestbranding=1"></iframe>
                </div-->
        <!--video autoplay loop muted>
                    <source src="videos/background-video.mp4" type="video/mp4" />
                </video-->
    </div>
    <div class="header-caption">
        <div class="row columns">
            <div class="header-title">
                <h1>LA MOJAQUERA</h1>
                <h2>SIERRA CABRERA XTREME</h2>
                <p>
                    La maraton MTB mas "explosiva" en sierra cabrera
                </p>
            </div>
        </div>
    </div>
</header>

<nav class="row columns main-menu">
    <ul class="vertical medium-horizontal menu">
        <li class="main-menu-brand">
            <a href="#">
                <img src="img/la-mojaquera-logo-small.png" alt="Inicío" />
            </a>
        </li>
        <li class="main-menu-item"><a href="#">Información</a></li>
        <li class="main-menu-item"><a href="#">Servicios</a></li>
        <li class="main-menu-item"><a href="#">Voluntarios</a></li>
        <li class="main-menu-item"><a href="#">Inscripciones</a></li>
    </ul>
</nav>
