<header class="header-video">
    <div id="video-viewport" class="video-viewport">
        <div class="embed-responsive embed-responsive-16by9">
            <div id="video-placeholder"></div>
        </div>
        <!--div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4b_rQyirzwc?rel=0&autoplay=1&loop=1&playlist=4b_rQyirzwc&controls=0&showinfo=0&modestbranding=1"></iframe>
                </div-->
        <!--video autoplay loop muted>
                    <source src="videos/background-video.mp4" type="video/mp4" />
                </video-->
    </div>
    <div class="header-caption">
        <div class="container">
            <div class="header-title">
                <h1>LA MOJAQUERA</h1>
                <h2>SIERRA CABRERA XTREME</h2>
                <p>
                    La maraton MTB mas "explosiva" en sierra cabrera
                </p>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/la-mojaquera-logo-small.png" alt="Inicío" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Información</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Voluntarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inscripciones</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
